<div class="p-grid detail-container p-px-4">
  <p-card>
    <div class="p-grid">
      <div class="p-col-5">
        <div class="detail-img">
          <p-carousel *ngIf="images.length !== 0" [value]="images" [numVisible]="1" [numScroll]="1" [circular]="false">
            <ng-template let-image pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content">
                        <div class="p-mb-3">
                        </div>
                        <div>
                          <img class="p-img-fluid" src="{{ image.src }}" alt="a">
                        </div>
                    </div>
                </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
      <div class="p-col-7 p-pl-4" *ngIf="product">
        <div class="detail-contents">
          <div class="content">
            <div class="title"> {{ product.name }} </div>
          </div>
          <div class="content">
            <div class="title">Giá: </div>
            <span class="desc p-pl-2">{{ product.price }}</span><span>triệu / tháng</span>
          </div>
          <!-- <div class="content">
            <div class="title">Diện tích: </div>
            <span class="desc p-pl-2">30</span><span>m</span><sup>2</sup>
          </div> -->
          <div class="content">
            <div class="title">Địa chỉ: </div>
            <span class="desc p-pl-2"> {{ product.address }} </span>
          </div>
          <div class="content">
            <div class="title">Mô tả: </div>
            <span class="desc p-pl-2">{{ product.description }}</span>
          </div>
          <div class="content">
            <div class="title">Thông tin liên hệ: </div>
            <div class="contact p-grid">
              <div class="p-col-3">
                Liên hệ:
              </div>
              <div class="p-col-5">
                Nguyễn Văn A
              </div>
            </div>
            <div class="contact p-grid">
              <div class="p-col-3">
                Số điện thoại:
              </div>
              <div class="p-col-5">
                099 99 99 99
              </div>
            </div>
          </div>
        </div>

        <div class="button-group p-pt-5">
          <p-button class="p-button-success" label="Liên hệ thuê phòng"></p-button>
        </div>
      </div>
    </div>
  </p-card>
</div>
