.toolbar {
    padding-top: 10px;
    padding-left: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #6A983C;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    z-index: 10;
  }
