<div class="p-grid">
    <div class="p-col-3">
        <p-card>
            <div class="p-fluid" style="margin-bottom: 2rem">
                <span style="font-weight: bold;">Tìm kiếm</span>
            </div>        
            <div class="p-fluid">
                <div class="p-field">
                    <label for="firstname1">Quận</label>
                    <input id="firstname1" type="text" pInputText [(ngModel)]="address" #name="ngModel"> 
                </div>
                <div class="p-field">
                    <label for="lastname1">Giá tiền</label>
                    <input id="lastname1" type="number" pInputText [(ngModel)]="price" #name="ngModel"> 
                </div>
            </div>
            <p-button class="p-button-success" label="Tìm kiếm" (onClick)="filter()"></p-button>
        </p-card>   
     </div>
   
    <div class="p-col-9">
        <p-card>
            <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name"
            [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
            <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                    <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown> -->
                    <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                    </span>
                </div>
            </ng-template>
            
           <ng-template let-product pTemplate="gridItem">
                <div class="p-col-12 p-md-4">
                    <div class="product-grid-item card">
                        <div class="product-grid-item-top">
                            <div>
                                <i class="pi pi-tag product-category-icon"></i>
                                <span class="product-category">{{product.category}}</span>
                            </div>
                        </div>
                        <div class="product-grid-item-content">
                            <div class="p-mb-3">
                                <img src="assets/images/{{product.image}}" [alt]="product.name" class="product-image" width="100" height="100"/>
                            </div>
                            <div class="product-name">{{product.name}}</div>
                            <div>{{product.address}}</div>
                            <div class="product-description">{{product.price}} VNĐ</div>
                            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                            <div style="margin-top: 1rem">
                                <p-button label="Chi tiết" (onClick)="showDetail(product.id)"></p-button>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </ng-template>
        </p-dataView>
        </p-card>        
    </div>
</div>